body {
  background-color: #ffffff;
  color: #333;
}

.title h1 {
  text-align: left;
  font-size: 24px;
  font-family: Inconsolata;
  margin-left: 3rem;
}

.main {
  display: flex;
  flex-direction: row;
}

.img {
  margin-top: 10%;
  flex-shrink: 1;
  width: 50%;
}

.ErrorBlock {
  margin-top: 3%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.BlockTitle {
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  font-family: monospace;
}

.BlockDesc {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 100;
  font-family: monospace;
  letter-spacing: -0.035em;
}

.BlockButton {
  width: 216px;
  height: 68px;
  background-color: #333;
  color: white;
}

@media (min-width: 1200px) {
  .title {
    font-size: 2rem;
  }
  
  

  .BlockTitle {
    font-size: 2rem;
  }
  .BlockDesc {
    font-size: 2rem;
  }
  .img {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .img{
    width: 30%
  }
  .ErrorBlock {
    margin-top: 1%;
  }

  .title {
    margin-right: 10px;
  }
}
